body{
  margin:0;
  font-family:'Poppins',sans-serif;
  background:#f8fafc;
  color: black;
}

/* Navbar */

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 80px;
  background:white;
  box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.logo{
  font-weight:600;
  font-size:20px;
  color:#10b981;
}

.nav-links span{
  margin:0 15px;
  cursor:pointer;
}

.start-btn{
  padding:10px 20px;
  background:#10b981;
  color:white;
  border:none;
  border-radius:20px;
}

/* HERO */

.hero{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:100px 80px;
}

.hero-text{
  max-width:500px;
}

.hero h1{
  font-size:48px;
}

.hero p{
  color:#64748b;
}

.hero-buttons button{
  margin-right:10px;
  padding:12px 22px;
  border-radius:25px;
  border:none;
}

.primary{
  background:#10b981;
  color:white;
}

.secondary{
  background:#e2e8f0;
}

/* Features */

.features{
  padding:80px;
  text-align:center;
}

.feature-grid{
  display:flex;
  justify-content:center;
  gap:30px;
  margin-top:40px;
}

.card{
  width:250px;
  padding:25px;
  background:white;
  border-radius:12px;
  box-shadow:0 10px 20px rgba(0,0,0,0.05);
}

/* Dashboard */

.dashboard{
  padding:80px;
  text-align:center;
}

.dashboard img{
  width:80%;
  border-radius:12px;
  box-shadow:0 10px 30px rgba(0,0,0,0.1);
}